*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    min-height: 100vh;
        background: #222831;
        margin: 0;
        font-family: 'Arial', sans-serif;
    }